.main_container {
    padding: 12px;
    margin-top: 2em;
    margin-bottom: 2em;
    min-width: 70%;
    display: flex;
    justify-content: flex-start;
}

.left_side_bar {
    min-width: 25%;
    padding: 4px 12px 4px 4px;
    height: 100vh;
    overflow-y: scroll;
}

.main_pages {
    min-width: 75%;
    border-left: 4px solid #012030;
    padding: 8px;
}

.add_acc_btn_sect {
    padding: 6px;
    margin-bottom: 16px;
}

.add_acc_btn_sect .add_acc_btn {
    background-color: #012030;
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
    padding: 6px 12px;
    border: solid 2px #012030;
    border-radius: 6px;
    box-shadow: 3px 3px 6px 6px rgba(117, 100, 100, 0.06);
}

.add_acc_btn_sect .add_acc_btn:hover {
    box-shadow: 4px 4px 8px 8px rgba(117, 100, 100, 0.06);
}

.left_side_card {
    padding: 2px;
    margin-bottom: 16px;
    width: 100%;
}