.page_heading {
    text-align: center;
    font-weight: normal;
    margin-bottom: 3px;
}

.page_heading_hr hr {
    border: 2px solid #012030;
    margin: auto;
    width: 135px;
    margin-bottom: 20px;
}

.sect_container {
    margin-bottom: 2.5em;
}

.sect_container:last-child {
    margin-bottom: 0px;
}

.sect_container .sect_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
}

.sect_container .sect_header .sect_heading {
    font-weight: normal;
}

.sect_container .sect_header .sect_heading span {
    font-style: italic;
}

.sect_container .sect_header .button_sect .btn {
    padding: 2px 12px;
    color: #012030;
    cursor: pointer;
}

.sect_container .sect_header .button_sect .btn:hover:last-child {
    transform: translateY(-2px);
}

.sect_container .sect_header .button_sect .btn:hover:first-child {
    transform: translateY(2px);
}

.sect_container hr {
    border: 2px solid #012030;
    border-radius: 5px;
    margin-bottom: 10px;
}