.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 25px;
}

.heading {
    flex: 1;
    font-size: 25px;
}

.nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 28px;
    font-size: 20px;
    padding: 8px 16px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.user img {
    width: 26px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
}