header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    padding: 12px;
    background-color: #012030;
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin-bottom: 4px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    padding: 4px 6px;
}

nav ul li {
    padding: 4px 12px;
}

nav ul li a {
    color: #012030;
}

nav ul li a:hover {
    color: #056ba1;
}