.card_container {
    background-color: #21445B;
    color: #ffffff;
    border: 2px solid #21445B;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 8px 16px;
    font-size: 1.1em;
    box-shadow: 3px 3px 6px 6px rgba(117, 100, 100, 0.06);
}

.card_container .card_heading {
    font-size: 1.3em;
}

.card_container .card_heading_hr hr {
    border: 2px solid #ffffff;
}

.card_container .card_text {
    padding: 2px 0px;
}

.card_container .card_text .text_icon {
    padding-right: 5px;
}

.card_container .btn_sect {
    padding: 6px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card_container .btn_sect .btn {
    font-size: 1em;
    padding: 6px 12px;
    background-color: #ffffff;
    color: #21445B;
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
}